@import '../../assets/scss/element/index';
@import '../../assets/scss/variables';

footer {
  background-color: $nav-bc;
  text-align: center;
  padding: 1rem 0;
  a {
    @extend %color-black;
    text-decoration: none;
  }
}

@include media-breakpoint-down(md) {
  footer {
    .container-fluid {
      height: 100px;
      background: $mountain-heaven url('./../../assets/img/svg/tatry-576.svg') no-repeat top left;
      background-size: cover;
    }
  }
}

@include media-breakpoint-only(md) {
  footer {
    .container-fluid {
      height: 100px;
      background: $mountain-heaven url('./../../assets/img/svg/tatry-768.svg') no-repeat top left;
      background-size: cover;
    }
  }
}

@include media-breakpoint-only(lg) {
  footer {
    .container-fluid {
      height: 100px;
      background: $mountain-heaven url('./../../assets/img/svg/tatry-992.svg') no-repeat top left;
      background-size: cover;
    }
  }
}

@include media-breakpoint-only(xl) {
  footer {
    .container-fluid {
      height: 100px;
      background: $mountain-heaven url('./../../assets/img/svg/tatry-1200.svg') no-repeat top left;
      background-size: cover;
    }
  }
}

@include media-breakpoint-only(xl) {
  footer {
    .container-fluid {
      background-color: $mountain-heaven;
      height: 100px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}


@include media-breakpoint-down(sm) {
  footer {
    .copyright {
      bottom: 0;
      left: auto;
      transform: none;
    }
  }
}
