@import '../../assets/scss/element/index';
@import '../../assets/scss/variables';

footer {
  background-color: $nav-bc;
  text-align: center;
  padding: 1rem 0;
  a {
    @extend %color-black;
    text-decoration: none;
  }
}

@include media-breakpoint-down(sm) {
  footer {
    .copyright {
      bottom: 0;
      left: auto;
      transform: none;
    }
  }
}
