@import '../../assets/scss/element/index';
@import '../../assets/scss/variables';

.section-aboutMe {
  .c-row-content {
    padding: 4rem 0;

    &__text {
      p:last-child {
        margin-bottom: 0;
      }
    }
    &__text-box, &__photo-img {
    position: sticky;
      top: 77px;
    }
  }

  .c-text {

  }
}

@include media-breakpoint-down(md) {
  .section-aboutMe {
    .c-row-content {
      &__photo {
        padding: 0 0 1rem;
      }
    }
  }
}
